extends layout

block content
  h1= title
  p Welcome to #{title}
  table 
    each row, index in rows
      tr
        td
          a(href="/films/" + row.id) #{index + 1}
        td #{row.title}
        td #{row.description}